:root {
  --sml-height: calc(100vw * 1.15);
  --med-height: calc(100vw * 0.75);
  --lg-height: calc(100vw * 0.55);
  --ratio: calc(1920 / 1080)
}



h1 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}


.work {
  width: 100%;
  box-sizing: border-box;
  /* can use padding at different breakpoints to adjust margins */
  padding: 0 10%; 
}

/* CARD CONTAINER HOLDS EVERYTHING */
.card-container {
  position: relative;
  /* width: 99%;
  height: 100vw; */
  
  aspect-ratio: var(--r);
  width: min(90%, min(1920px, 90vh*(var(--r))));
  /* adjust height for cards here */
  height: 85vw;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 10vw 0;
}
  
/* EACH CARD HOLDS THE FRONT AND BACK FACES */
.card1, .card2, .card3, .card4 { /* Cards must be added manually with the id appended */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.9s ease;
  display: flex;
  align-content: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP */
.flip {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #c64242;
  color: #333;
  transform: rotateY(180deg);
}


/* Styling for the cards */
.card-front, p, .card-back {
  font-family: 'zilla slab', sans-serif;
  /* padding: 2%; */
  font-weight: bold;
  font-size: clamp(0.5rem, 2.5vw, 2rem);
  text-align: center;
  margin: 1.3vw 0;
}

/* .card-front p, .card-back p {
  font-family: 'zilla slab', sans-serif;
  padding: 1;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
} */

/* phones */
@media (min-width: 576px) {
  .card-container {
    /* width: 95%; */
  }
}

/* tablets */
@media (min-width: 750px) {
  .card-container {
    /* max-width: 66%; */
  }
}

/* laptops */
@media (min-width: 992px) {
}

/* extra large desktop screens */
@media (min-width: 1200px) {
  /* .card-container {
    max-width: 50%;
    height: var(--lg-height);
  } */
}